@import url('https://fonts.googleapis.com/css?family=Montserrat|Paytone+One&display=swap');

:root {
    --primaryColor: #583EBC;
    --white: #FFFFFF;
    --black: #333333;
    --yellow: #F8F7AB;
    --grey: rgb(231, 231, 231);
}

*::before, *::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
}

h1 {
    font-weight: lighter;
    font-family: "Paytone One";
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    line-height: 30px;
}

li {
    list-style: none;
}

button {
    padding: 8px;
    width: 160px;
    height: 48px;
    color: var(--white);
    background-color: var(--primaryColor);
    border: 1px solid var(--white);
    border-radius: 13px;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: bold;
}


/*/////////////////// GLOBAL ///////////////////*/

/*/////////////////// HERO /////////////////////*/

#hero {
    height: calc(100vh - 60px);
    background-color: var(--primaryColor);
    padding: 1rem;
    background: url("./img/hero/hero-small.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    border-radius: 0 0 100px 100px;
}

#hero .hero-text > * {
    margin-top: 1rem;
}

#hero .hero-text {
    position: relative;
    color: var(--white);
}

#hero .hero-text::before {
    position: absolute;
    content: url("./img/hero/Combined\ Shape.svg");
    right: 0;
    opacity: 0.4;
}

#hero .hero-text h1{
    font-size: 56px;
}

#hero .hero-text .hero-buttons {
    display: flex;
    justify-content: flex-start
}

.hero-buttons .about-btn {
    background-color: var(--yellow);
    color: var(--black);
    margin-right: 20px;
}

@media (min-width: 800px) {
    #hero  {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem;
    }

    #hero .hero-text {
        width: 800px;
        padding-left: 200px;
    }
    
}

/*/////////////////// HERO /////////////////////*/

/*/////////////////// TECH /////////////////////*/

#tech {
    margin-top: 2rem;
    padding: 1rem;
}

#tech .tech-text > * {
    margin-bottom: 2rem;
}

#tech .tech-text .tech-title > * {
    margin-bottom: 1rem;
}

#tech .tech-text .tech-title h2 {
    font-weight: lighter;
}

#tech .tech-text .tech-title h1 {
    font-size: 40px;
}

#tech .tech-cards {
    display: grid;
}

#tech .tech-cards .tech-card > * {
    padding: 20px;
}

#tech .tech-cards .tech-card {
    position: relative;
    margin-bottom: 15px;
    background-color: var(--grey);
    border-radius: 15px;
}

#tech .tech-cards .tech-card:nth-child(1)::after {
    position: absolute;
    top: -40px;
    right: 30px;
    content: url("./img/tech/Combined\ ShapeBlack.svg");
    opacity: 0.3;
    transform: rotate(0.7turn);
    z-index: -1;
    overflow-x: hidden;
}

#tech .tech-cards .tech-card img {
    background-color: var(--yellow);
    width: 80px;
    margin: 24px 0 10px 24px;
    padding: 8px;
    border-radius: 15px;
}

#tech .tech-cards .tech-card:nth-child(2) img {
    padding: 6px 11px;
}

#tech .tech-cards .tech-card h1 {
    padding-bottom: 0;
}

@media (min-width: 800px) {
    #tech {
        margin: 100px auto;
        max-width: 1600px;
    }

    #tech .tech-text {
        display: flex;
        justify-content: space-between;
    }

    #tech .tech-text .tech-description {
        font-size: 24px;
        max-width: 30vw;
    }

    #tech .tech-cards {
        display: flex;
        justify-content: space-between;
    }

    #tech .tech-cards .tech-card:not(:last-child) {
        margin-right: 30px;
    }
}

/*/////////////////// TECH /////////////////////*/

/*/////////////////// SKILLS /////////////////////*/

#skills {
    margin: 20px auto;
    border: 1rem solid var(--primaryColor);
    border-radius: 50px;
    background-color: var(--primaryColor);
}

#skills .skills-top {
    padding: 1rem;
    border-radius: 50px;
    width: 100%;
    background-color: var(--grey);
}

#skills .skills-text > * {
    margin: 3rem 0 2rem 0;
}

#skills .skills-text h2 {
    font-size: 22px;
    font-weight: lighter;
}

#skills .skills-text h1 {
    position: relative;
    font-size: 40px;
}

#skills .skills-text h1::before {
    position: absolute;
    top: -100px;
    right: 10px;
    content: url("./img/tech/Combined\ ShapeBlack.svg");
    opacity: 0.1;
    z-index: 1;
}

#skills .skills-top .skills-tech {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills .skills-top .skills-tech .skills-item {
    background-color: var(--white);
    padding: 1rem;
    border: 2px solid var(--white);
    border-radius: 15px;
    box-shadow: 3px 3px 3px 4px rgba(2, 2, 2, 0.205);
    width: 260px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#skills .skills-top .skills-tech .skills-item img {
    width: 220px;
}

#skills .skills-bottom {
    background-color: var(--primaryColor);
    padding: 50px;
}

#skills .skills-bottom .skills-icons {
    margin-top: 2rem;
    display: grid;
}

#skills .skills-bottom .skills-icon > * {
    color: var(--white);
    margin: 1rem 0;
}

#skills .skills-bottom .skills-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#skills .skills-bottom .skills-icon p {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

#skills .skills-bottom .skills-icon img {
    margin-top: 3rem;
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: 15px;
}

#skills .skills-bottom .skills-icon:nth-child(2) img {
    padding: 1rem 1.5rem;
}

#skills .skills-bottom .skills-icon:nth-child(4) img {
    padding: 1.2rem 1rem;
}

@media (min-width: 800px) {
    #skills {
        margin: 0 auto;
        border-radius: 50px;
        background-color: var(--primaryColor);
    }

    #skills .skills-top {
        display: flex;
        justify-content: space-around;
        background-color: var(--grey);
        margin: 0 auto;   
    }

    #skills .skills-top .skills-text,
    #skills .skills-top .skills-tech {
        padding: 100px
    }


    #skills .skills-top .skills-tech {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
       
    }

    #skills .skills-top .skills-tech .skills-item {
        width: 150px;
        height: 150px;
    }

    #skills .skills-top .skills-tech .skills-item img {
        width: 150px;
    }

    #skills .skills-bottom .skills-icons {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1600px;
    }

    #skills .skills-bottom .skills-icon {
        width: 12vw;
    }
}

@media (min-width: 1200px) {
    #skills .skills-top .skills-tech .skills-item {
        width: 300px;
        height: 300px;
    }

    #skills .skills-top .skills-tech .skills-item img {
        width: 250px;
    }
}


/*/////////////////// SKILLS /////////////////////*/

/*/////////////////// PORTFOLIO /////////////////////*/

#portfolio {
    margin: 1rem auto;
    padding: 1rem;
}

#portfolio .main-project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    height: 450px;
    padding: 1rem;
    color: var(--white);
    margin-bottom: 1rem;
    background: url('./img/portfolio/close-up-photo-of-assorted-color-of-push-pins-on-map-1078850-min.jpg')  no-repeat;

    background-size: cover;
}

.check {
    color: var(--yellow);
    font-family: "Paytone One";
    margin-top: 12px;
    padding: 5px;
    font-size: 22px;
    border-radius: 15px;
    text-decoration: underline;
}

#portfolio .projects-list .beds {
    background: url('./img/portfolio/black-and-grey-bedspread-on-bed-and-pillow-164595-min.jpg') no-repeat;
    background-size: cover;
    
}

#portfolio .projects-list .bicycle {
    color: var(--white);
    background: url('./img/portfolio/activity-bicycle-bike-biker-276517-min.jpg') no-repeat;
    background-size: cover;
}

#portfolio .projects-list  .electronix {
    color: var(--white);
    background: url('./img/portfolio/consoles-min.jpg') no-repeat;
    background-size: cover;
}

#portfolio .projects-list .active-camps {
    color: var(--white);
    background: url('./img/portfolio/fire-camp-min.jpg') no-repeat;
    background-size: cover;
}

#portfolio .main-project .text > * {
    padding: 1rem;
}

#portfolio .main-project .text h1 {
    font-size: 2rem;
}

#portfolio .projects .categories .slide-label {
    padding: 1rem;
    font-size: 16px;
    font-weight: bolder;
}

#slide1:checked ~ .slide-label-1,
#slide2:checked ~ .slide-label-2,
#slide3:checked ~ .slide-label-3 {
    border-bottom: 5px solid var(--primaryColor);
}

#portfolio .projects .categories input {
    display: none;
}

#portfolio .projects .projects-list {
    margin-top: 2rem;
}

#portfolio .projects .projects-list .slide {
    color: var(--yellow);
    font-size: 1rem;
    height: 40vh;
    margin: 20px;
    border-radius: 15px;
    padding: 1rem;
    display: none;
    background-position: center;
}

#portfolio .projects .projects-list .slide h1 {
    background-color: var(--primaryColor);
    border-radius: 15px;
    padding: 4px;
    text-align: center;
}


#slide1:checked ~ .projects-list .slide1,
#slide2:checked ~ .projects-list .slide2, 
#slide3:checked ~ .projects-list .slide3{
    display: block;
}

@media (min-width: 800px) {
    #portfolio {
        margin: 100px auto;
        max-width: 1600px;
    }

    #portfolio .main-project {
        background-position: 25% 50%;
    }

    #portfolio .projects .projects-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .check {
        padding: 8px;
        font-size: 25px;

    }

    #portfolio .projects .projects-list .slide {
        font-size: 2rem;
    }

    #portfolio .projects .categories .slide-label {
        font-size: 30px;
    }
}

/*/////////////////// PORTFOLIO /////////////////////*/

/*/////////////////// TESTIMONIALS //////////////////*/

#testimonials {
    margin-top: 1rem auto;
    padding: 1rem;
}

#testimonials h3,
#testimonials h1 {
    margin-bottom: 2rem;
}

#testimonials h1 {
    font-size: 60px;
}

#testimonials h3 {
    font-size: 40px;
}

.testimonial-card > * {
    padding: 1rem;
}

.testimonial-card {
    position: relative;
    background-color: var(--grey);
    margin-bottom: 1rem;
    border-radius: 15px;
}

.testimonial-card:nth-child(1)::before {
    position: absolute;
    top: -40px;
    right: 10px;
    content: url("./img/tech/Combined\ ShapeBlack.svg");
    opacity: 0.3;
    z-index: -1;

}

.testimonial-cards {
    margin-top: 2rem;
}

.testimonial-card img {
    width: 80px;
    background-color: var(--yellow);
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

.testimonial-card .person {
    display: flex;
}

.testimonial-card .person img {
    margin: 1rem;
    width: 100px;
    background-color: transparent;
}

.testimonial-card .person .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-card .person .name h2 {
    font-size: 20px;
}

@media (min-width: 800px) {
    #testimonials {
        margin: 100px auto;
        max-width: 1600px;
    }

    .testimonial-cards {
        display: flex;
        justify-content: space-between;
    }

    .testimonial-card:not(:last-child) {
        margin-right: 50px;
    }
}

/*/////////////////// TESTIMONIALS //////////////////*/

/*///////////////////// STORIES //////////////////////*/

#stories {
    margin: 0 auto;
    background-color: var(--primaryColor);
    border-radius: 50px 50px 0 0;
    padding: 1rem;
}

#stories .stories-text > * {
    color: var(--white);
    margin: 1rem 0;
}

#stories .stories-text .stories-title > * {
    margin: 1rem 0;
}

#stories .stories-text .stories-title h2 {
    margin-top: 2rem;
    font-weight: lighter;
}

#stories .stories-text .stories-title h1 {
    font-size: 60px;
}

#stories .stories-cards .stories-card > * {
    margin-bottom: 1rem;
}

#stories .stories-cards .stories-card {
    position: relative;
    background-color: var(--white);
    border: 8px solid var(--white);
    border-radius: 15px;
    margin-bottom: 1rem;
}

#stories .stories-cards .stories-card:nth-child(1)::after {
    position: absolute;
    top: -80px;
    right: -10px;
    content: url("./img/hero/Combined\ Shape.svg");
    opacity: 0.3;
    z-index: 2;
}

#stories .stories-cards .stories-card img {
    width: 100%;
}

#stories .stories-cards .stories-card h2,
#stories .stories-cards .stories-card p,
#stories .stories-cards .stories-card h5 {
    padding: 0.5rem;
}

#stories .stories-cards .stories-card h2 {
    text-transform: capitalize;
}



@media (min-width: 800px) {
    #stories {
        margin: 100px 0 0 0;
        padding: 100px 170px;
        max-width: 1900px;
        border-radius: 100px 100px 0 0;
    }

    #stories .stories-text .stories-title h1 {
        font-size: 40px;
    }

    #stories .stories-text {
        display: flex;
        justify-content: space-between;
    }

    #stories .stories-text .stories-description p {
        line-height: 40px;
        font-size: 24px;
        width: 30vw;
    }

    #stories .stories-cards .stories-card:not(:last-child) {
        margin-right: 20px;
    }

    #stories .stories-cards .stories-card img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #stories .stories-cards {
        display: flex;
        justify-content: space-between;
        margin: 100px auto;
    }

    #stories .stories-text .stories-title h1 {
        font-size: 80px;
    }
}


/*///////////////////// STORIES //////////////////////*/

/*///////////////////// FORM //////////////////////*/

#contact {
    margin: 0 auto;
    padding: 0.5rem;
    background-color: var(--primaryColor);
}

#contact .contact-form {
    background-color: var(--grey);
    border-radius: 50px;
    padding: 0.5rem;
}

#contact .contact-form .left {
    padding: 2rem;
}

#contact .contact-form .left .text > *{
    margin-bottom: 1.5rem;
}

#contact .contact-form .left .text h2{
    font-weight: lighter;
}

#contact .contact-form .left .text h1 {
    position: relative;
    font-size: 40px;
}

#contact .contact-form .left .text h1::after {
    position: absolute;
    top: -60px;
    right: 10px;
    content: url("./img/stories/dots.svg");
    opacity: 0.8;
    z-index: 2;
}

#contact .contact-form .right {
    margin: 1rem 1.5rem;
    background-color: var(--white);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 2px 2px 3px 4px rgba(2, 2, 2, 0.205);
}

#contact .contact-form .right form > * {
    margin-bottom: 1.4rem;
}

#contact .contact-form .right form h2 {
    padding: 1rem 0;
    text-transform: unset;
}

#contact .contact-form .right form input,
#contact .contact-form .right form textarea {
    border: 1px solid rgba(0, 0, 0, 0.199);
    width: 100%;
    border-radius: 8px;
    padding: 0.5rem;
}

::placeholder {
    padding: 15px;
    font-family: "Paytone One";
    letter-spacing: 2px;
}

#contact .right form button {
    background-color: var(--primaryColor);
    font-size: 18px;
    color: var(--white);
    width: 100%;
}

@media (min-width: 800px) {
    #contact {
        margin: 0 auto;
    }

    #contact .contact-form {
        display: flex;
        justify-content: space-around;
    }

    #contact .contact-form .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 14rem 5rem;
        width: 40vw;
    }

    #contact .contact-form .left .text h1 {
        font-size: 60px;
    }

    #contact .contact-form .left .text p {
        font-size: 25px;
    }

    #contact .contact-form .right {
        margin: 8rem 5rem;
        padding: 4rem;
        width: 30vw;
    }

    #contact .contact-form .right h2 {
        font-size: 30px;
    }
}

/*///////////////////// FORM //////////////////////*/

/*///////////////////// SOCIAL //////////////////////*/

#social-media {
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--primaryColor);
}

#social-media .text > * {
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#social-media .text h1 {
    font-size: 40px;
}

#social-media .social-media-icons img {
    padding: 0.8rem;
    margin: 0.6rem;
    background-color: var(--yellow);
    width: 70px;
    border-radius: 15px;
}

#social-media .social-media-icons .link-icon {
    position: relative;
}

/* #social-media .social-media-icons .link-icon:nth-child(1)::after {
    content: url("./img/hero/Combined\ Shape.svg");
    position: absolute;
    top: -40px;
    right: -10px;
    opacity: 0.3;
    z-index: -1;
} */

@media (min-width: 800px) {
    #social-media {
        margin: 0 auto;
    }

    #social-media .text h1 {
        font-size: 50px;
    }

    #social-media .container {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }

    #social-media .social-media-icons img {
        padding: 0.8rem;
        margin: 1rem;
        width: 100px;
        border-radius: 15px;
    }
}

/*///////////////////// SOCIAL //////////////////////*/

/*///////////////////// FOOTER //////////////////////*/

#footer {
    background-color: var(--black);
    margin: 0px auto;
    padding: 1rem;
    color: var(--white);
}

#footer .footer-container > *{
    padding-bottom: 4rem;
}

.footer-nav > * {
    margin-bottom: 1rem
}

.footer-nav a {
    color: var(--white);
}

.footer-contact > * {
    margin-bottom: 0.4rem
}

.copyright {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    border-radius: 15px;
}


/*///////////////////// FOOTER //////////////////////*/

@media (min-width: 800px) {
    #footer {
        margin: 0 auto;    
    }

    .footer-name {
        width: 22vw;
    }

    #footer .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1600px;
        margin: 2rem auto; 
    }
}
